* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

.logo-panel {
  background: url(./images/halie-west-25xggax4bSA-unsplash.png);
  background-size: cover;
  height: 100vh;
  background-position: center center;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  color: white;
}
